/* css reset */
* {
    margin: 0;
    padding: 0;
}

/* align all text center */
body {
    text-align: center;
    /* background-image: url('./Graffiti\ Wall\ Texture\ Free\ Download.png'); */
}

/*title styling */
.title {
    padding: 25px;
    font-family: 'Press Start 2P', cursive;
}

/* mine bomb status text */
.status {
    padding: 5px 0 20px;
}

/* game container */
.grid {
    width: 520px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
}

/* cells to click in game */
div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: darkgray;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

/* hover */
div:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* tile status */
.mine {
    background-color: none;
}
.show::before {
    content: '💣';
}
.flag::before {
    content: '🚩';
}
.number {
    background-color: none;
}
.reveal {
    background-color: white;
}
.checked {
    background-color: white;
}
.one {
    color: green;
}
.two {
    color: blue;
}
.three {
    color: orangered;
}
.four {
    color: red;
}
