/* css reset */
* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.title {
    padding: 25px;
}

.status {
    padding: 15px;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
